.app-navbar a{
    text-decoration: none;
    color: #475569;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  .app-navbar a:hover {
    color: #008000;
  }
  