ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 70px;
    list-style: none;
}

.character-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 256px;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #475569;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.character-image {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 128, 0, 1);
    border: 1px solid #608048;
}

.title h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 16px;
    color: #475569;
}

.line {
    width: 100%; 
    height: 1px;
    margin: 6px 0;
    background: #BFC7CA;
}

.title p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 14px;
    color: #475569;
}